*{
  text-align: center;
}

.tabelaDados{
  background:
  rgba(255, 255, 255, 0.642) ;

}

/* EStilizando as fontes */
.moodTitulo{
  color: #fff;
  font-size: 3rem;
  width: 40ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(27),
  blinking 0.5s infinite step-end alternate;
}
.moodRes{
  font-size: 1.5rem;
}
.formLetra{
  font-size: 1.2rem;
}
.moodLetra{
  color: #fff;
  font-size: 2rem;
}

/* Estilizando a tabela */
.moodEmocao{
  font-size: 1.5rem;
  border-radius: 40px;
  margin: 10px;
  background : linear-gradient(
    to right,
   rgba(68, 222, 117),
    rgba(255, 0, 0, 0) 70.71%
  ),
  linear-gradient(
    to left,
    rgba(179, 255, 182),
    rgba(114, 218, 105, 0) 90.71%
  );

}


/* Animacao Digitando */
@keyframes typing{
  from {
    width: 0;
  }
}
@keyframes blinking{
  50%{
    border-color: transparent;
  }
}
