*{
  text-align: center;
}

.tabelaDados{
  background:
   rgba(255, 255, 255, 0.295) ;

}
.moodTitulo{
  color: #fff;
  font-size: 3rem;
  width: 40ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(27),
  blinking 0.5s infinite step-end alternate;
}
.moodRes{
  font-size: 1.5rem;
}
.moodLetra{
  color: #fff;
  font-size: 2rem;
}
.formLetra{
  font-size: 1.2rem;
}
@keyframes typing{
  from {
    width: 0;
  }
}
@keyframes blinking{
  50%{
    border-color: transparent;
  }
}
