<div class="container p-5">
  <div class="row">
    <div class="col-12 border border-light rounded p-5 shadow">
      <h1 class="moodTitulo">Como você está se sentindo?</h1>
      <hr />
<div>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Conte o que você sente..." class="moodRes form-control form-control-md" />
  <button class="btn btn-lg btn-outline-light  mt-4" (click)="search()">Pesquisar</button>
</div>
<div *ngIf="results">
  <h3 class="moodLetra mt-4">Resultados:</h3>
  <table class="  table-sm border border-light  mt-5 col-12 shadow tabelaDados">
    <thead>
      <tr class="thead-light formLetra">
        <th>Nome da Música</th>
        <th>Banda ou Artista</th>
        <th>Estilo</th>
        <th>Como eu me sinto ouvindo</th>
        <th>Link para Ouvir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musica of results">
        <td class="border shadow moodRes">{{ musica.musicaNome }}</td>
        <td class="border shadow moodRes">{{ musica.musicaArtista }}</td>
        <td class="border shadow moodRes">{{ musica.musicaEstilo }}</td>
        <td class="border shadow moodRes">{{ musica.musicaFeeling }}</td>
        <td class="border shadow">
          <button (click)="redirectLink(musica.musicaLink)" class="btn btn-primary">Ouvir agora</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
