<div class="container p-5">
  <div class="row">
    <div class="col-5" >
      <h1>Sobre o Mood.ms</h1>
      </div>

</div>

</div>
<div class="row">
<div class="col-8 bg-light p-5">
  <p class="m-2">Este projeto é uma plataforma musical que
    permite aos usuários cadastrar e explorar músicas de acordo com as
    emoções e sentimentos que estão vivenciando.</p>
    <p class="m-2">Ele foi realizado como um projeto final da Academia Atos .Net,
      nele foi aplicado diversos conhecimentos em
      criação e consumo de API, framework Entity, Sql Server como banco
      de dados e o framework Angular.</p>
      <p class="m-2">
        Foi uma jornada incrível com muito aprendizado e desafios, onde conhecemos nossos futuros colegas de profissão.
      </p>
      <h3 class="mt-5 text-center">OBRIGADA!</h3>

    </div>

</div>
