<div class="container p-5" *ngIf="visibilidadeTabela">
  <div class="border border-light shadow rounded p-5 " >
    <div>

      <h1 class="tituloCadastro">Músicas Cadastradas</h1>
      <button type="button" class="btn btn-lg mt-3 btn-dark " (click)="ExibirFormularioCadastro()">
        Nova Música
      </button>
    </div>
  </div>

    <table class="border rounded border-light shadow mt-5 p-5 col-12 tabelaDados" *ngIf="musicas">
      <thead>

        <tr class="formLetra thead-light">
          <th >Nome da Música</th>
          <th >Banda ou Artista</th>
          <th >Estilo</th>
          <th >Como eu me sinto ouvindo</th>
          <th >Link para ouvir</th>
          <th >Ações</th>
        </tr>
      </thead>

<!-- Exibe as músicas já cadastradas -->
<tbody>

      <tr  *ngFor="let musica of musicas">
        <td class="formLetra shadow border ">{{musica.musicaNome}}</td>
        <td class="formLetra shadow border ">{{musica.musicaArtista}}</td>
        <td class="formLetra shadow border ">{{musica.musicaEstilo}}</td>
        <td class="formLetra shadow border ">{{musica.musicaFeeling}}</td>
        <td class="border shadow">
          <button (click)="redirectLink(musica.musicaLink)"class="btn btn-dark btn-lg">Ouvir agora</button>
        </td>
         <td class="shadow border">
          <button type="button" class="btn btn-sm bg-info " (click)="ExibirFormularioAtt(musica.musicaId)">Atualizar</button>
          <button type="button" class="btn btn-sm bg-danger" (click)="ExcluirMusica(musica)">Excluir</button>
        </td>
      </tr>
    </tbody>

    </table>
</div>
<!-- Formulario para cadastrar as musicas -->
<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row">
    <div class="col-12 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h1 class="tituloCadastro">Cadastrar Músicas</h1>
      <h6 class="dadosCadastro"> {{ tituloFormulario }}</h6>
      <hr />
      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group mt-3 dadosCadastro">
          <label > Nome da Música </label>
          <input type="text" placeholder="Me diga qual é a música" class="form-control form-control-sm" formControlName="musicaNome">
        </div>
        <div class="form-group mt-3 dadosCadastro">
          <label> Artista ou Banda </label>
          <input type="text" placeholder="Quem que criou essa obra prima? " class="form-control form-control-sm " formControlName="musicaArtista">
        </div>
        <div class="form-group mt-3 dadosCadastro">
          <label > Estilo Musical </label>
          <input type="text" placeholder="Vai de rock, funk, clássica até pagodinho, tudo onde se encaixar" class="form-control form-control-sm " formControlName="musicaEstilo">
        </div>
        <div class="form-group mt-3 dadosCadastro">
          <label> Como você se sente com essa música? </label>
          <input type="text" placeholder="Aqui você abre o coração" class="form-control form-control-sm" formControlName="musicaFeeling">
        </div>
        <div class="form-group mt-3 dadosCadastro">
          <label> Link da Música </label>
          <input type="text" class="form-control form-control-sm" formControlName="musicaLink">
        </div>
        <div class="container">
          <div class="row">
            <button type="submit" class="btn btn-md btn-outline-secundary btn-dark  mt-3"> Enviar </button>
            <button type="button" class="btn btn-md btn-outline-secundary btn-dark mt-3" (click)="Voltar()"> Voltar</button>
          </div>
          </div>
      </form>
    </div>
  </div>

