*{
  text-align: center;

}

#musicasCad{
  color:black;
}
.tituloCadastro{
  font-size: 3rem;
  color: #fff;
}
.dadosCadastro{
  color: #fff;
  font-size: 1.2rem;
}
.formLetra{
  font-size: 1.3rem;
}
.tabelaDados{
  background:
   rgba(255, 255, 255, 0.642) ;
}
