<div class="container p-5" *ngIf="visibilidadeTabela">
  <div class="border border-light shadow rounded p-5 " >
    <div>

      <h1 class="tituloCadastro">Músicas Cadastradas</h1>
      <button type="button" class="btn btn-lg mt-3 btn-dark " (click)="ExibirFormularioCadastro()">
        Nova Música
      </button>
    </div>
  </div>
  <div class="tabelaDados border border-dark shadow mt-5 rounded p-5 " >
    <table class="table table-striped table-hover table-md" *ngIf="musicas">
      <tr class="thead-light">
        <th class="formLetra pt-3">Nome da Música</th>
        <th class="formLetra pt-3">Banda ou Artista</th>
        <th class="formLetra pt-3">Estilo</th>
        <th class="formLetra pt-3">Como eu me sinto ouvindo</th>
        <th class="formLetra pt-3">Link para ouvir</th>
        <th class="formLetra pt-3">Ações</th>
      </tr>
      <tr  *ngFor="let musica of musicas">
        <td class="formLetra shadow border ">{{musica.musicaNome}}</td>
        <td class="formLetra shadow border ">{{musica.musicaArtista}}</td>
        <td class="formLetra shadow border ">{{musica.musicaEstilo}}</td>
        <td class="formLetra shadow border ">{{musica.musicaFeeling}}</td>
        <td class="formLetra shadow border ">{{musica.musicaLink}}</td>
        <td>
          <button type="button" class="btn btn-sm bg-info" (click)="ExibirFormularioAtt(musica.musicaId)">Atualizar</button>
          <button type="button" class="btn btn-sm bg-danger" (click)="ExcluirMusica(musica)">Excluir</button>
        </td>
      </tr>
    </table>
</div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row">
    <div class="col-12 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h1 class="tituloCadastro">Cadastrar Músicas</h1>
      <h6 class="dadosCadastro"> {{ tituloFormulario }}</h6>
      <hr />
      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group mt-3 dadosCadastro">
          <label > Nome da Música </label>
          <input type="text" placeholder="Me diga qual é a música" class="form-control form-control-sm" formControlName="musicaNome">
        </div>
        <div class="form-group mt-3 dadosCadastro">
          <label> Artista ou Banda </label>
          <input type="text" placeholder="Quem que criou essa obra prima? " class="form-control form-control-sm " formControlName="musicaArtista">
        </div>
        <div class="form-group mt-3 dadosCadastro">
          <label > Estilo Musical </label>
          <input type="text" placeholder="Vai de rock, funk, clássica até pagodinho, tudo onde se encaixar" class="form-control form-control-sm " formControlName="musicaEstilo">
        </div>
        <div class="form-group mt-3 dadosCadastro">
          <label> Como você se sente com essa música? </label>
          <input type="text" placeholder="Aqui você abre o coração" class="form-control form-control-sm" formControlName="musicaFeeling">
        </div>
        <div class="form-group mt-3 dadosCadastro">
          <label> Link da Música </label>
          <input type="text" class="form-control form-control-sm" formControlName="musicaLink">
        </div>
        <div class="container">
          <div class="row">
            <button type="submit" class="btn btn-md btn-outline-secundary btn-dark  mt-3"> Enviar </button>
            <button type="button" class="btn btn-md btn-outline-secundary btn-dark mt-3" (click)="Voltar()"> Voltar</button>
          </div>
          </div>
      </form>
    </div>
  </div>

