<nav class="navbar fixed-top navbar-light menuSus">
  <a class="navbar-brand menuClasse" href="http://localhost:4200">Inicio</a>
  <a class="navbar-brand menuClasse" href="http://localhost:4200/musicas" >Música</a>
  <a class="navbar-brand menuClasse" href="http://localhost:4200/mood">Mood</a>
  <a class="navbar-brand menuClasse" href="http://localhost:4200/usuarios">Perfil</a>
  <a class="navbar-brand menuClasse" href="http://localhost:4200/sobre">Sobre</a>
</nav>

<router-outlet>
  <h1>.</h1>
</router-outlet>

<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Mood.ms - made by Rafaela Tamura
  </div>
</footer>
