
.menuCima {
  text-align: center;
  color: white;

}
.menuCima h1{
  font-size: 5rem;
}
 .menuCima h3 {
  font-size: 2rem;
 }
 .bloco{
  margin-left: 170px;
  margin-top: 30px;
 }
 .blocoEsquerdo{
    margin-top: 30px;
 }
 .primeiroBloco{
  font-size: 30px;
  text-align: center;
 }
 .botaoMood{
  font-size: 100px;
   margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 70px;
 }
.inicioCss{
  background: linear-gradient(
      to top,
     rgba(103, 2, 90, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(to bottom,  rgba(47, 7, 62, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(
      to right,
      rgba(120, 100, 0, 0.8),
      rgba(10, 120, 0, 0) 90.71%
    ),
    linear-gradient(to left, rgba(109, 4, 4, 0.8), rgba(0, 0, 255, 0) 90.71%);

}
