<body>
  <div class="container p-5">
    <div class="row">

      <div class="col-12 menuCima">
        <h1> Hey! Bem Vindo ao Mood.ms</h1>
        <h3 class="p-2 "> Como funciona?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 border border-light rounded p-5 shadow bg-light blocoEsquerdo">
        <p class="blockquote text-center"> Primeiro, faremos o seu cadastro no site. É simples e rápido! </p>
        <button type="button" (click)="irParaPerfil()" class=" btn btn-lg  btn-dark col-md-12 mt-4"> Criar Perfil</button>
      </div>

      <div class="col-sm-5 border border-light rounded p-5 shadow bg-light bloco">
        <p class="blockquote text-center"> Agora, você pode cadastrar as suas músicas de acordo com o que você
          está sentindo.  </p>
          <button type="button" (click)="irParaMusicas()" class=" btn btn-lg  btn-dark col-md-12 mx-auto "> Cadastrar Músicas</button>
        </div>
      <div class="col-12 text-center border border-light menuCima mt-4 rounded">
        <h4 class="m-5">Com as músicas cadastradas, você poderá pesquisar por
          emoções e sentimentos específicos.
          Basta nos dizer como você está se sentindo,
         e nós iremos te fornecer as melhores músicas para aquele momento.
         É como ter uma trilha sonora personalizada para cada emoção!</h4>
        </div>
        <h1 class="p-5 col-12 text-center menuCima "> Teste agora!</h1>
        <div class="col-8">

          <button type="button" (click)="irParaMood()" class="btn btn-dark shadow p-5 botaoMood "> Mood! </button>
        </div>
      </div>
    </div>
  </body>

